modules = ["python-3.11", "web", "nodejs-20"]
[agent]
expertMode = true
stack = "FLASK_VANILLA_JS"
integrations = ["python_openai:1.0.0"]

[nix]
channel = "stable-25_05"
packages = ["cargo", "glibcLocales", "iana-etc", "libiconv", "libxcrypt", "ocl-icd", "opencl-headers", "openssl", "pkg-config", "postgresql", "rustc"]

[workflows]

[[ports]]
localPort = 5000
externalPort = 80

[deployment]
deploymentTarget = "autoscale"
run = ["gunicorn", "--bind", "0.0.0.0:5000", "main:app"]

[userenv]

[userenv.shared]
TRADE_MODE = "dedust"
DEMO_MODE = "false"
MIN_STAKE_TON = "5"
SMART_TP_ENABLED = "1"
SMART_TP_MIN_CONF = "68"
SMART_TP_TIGHT_TRAIL_PCT = "1.0"
TRAIL_STAGE4_AT = "20"
TRAIL_STAGE4_PCT = "1.5"
TRAIL_TREND_WIDEN = "3.0"
ADMIN_USERNAME = "kank49799@gmail.com"
EXTERNAL_DATABASE_URL = "postgresql://bothost_db_bf4fb06bbd60:b0dqQSV7PsGK465oK4h3oPUtJjM5rjKtGQis_YXHXvM@node1.pghost.ru:15529/bothost_db_bf4fb06bbd60"
VPS_SSH_PASSWORD = "Kander3132001574@"
